{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Harvard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- {% static 'Site/' %} -->
  <!-- Favicons -->
  <link href="{% static 'Site/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'Site/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Site/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Site/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Site/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Site/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'Site/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'Site/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'Site/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: KnightOne - v4.7.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">Harvard</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Bosh Sahifa</a></li>
              <li><a class="nav-link scrollto" href="#about">Biz Haqimizda</a></li>
              <li><a class="nav-link scrollto" href="#services">Bizning Jamoa</a></li>
              <li><a class="nav-link scrollto " href="#portfolio">Galereya</a></li>
              <li><a class="nav-link scrollto" href="#pricing">Fanlar</a></li>
              <li><a class="nav-link scrollto" href="#contact">Bog'lanish</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <a href="" class="get-started-btn scrollto btn btn-default btn-rounded" data-toggle="modal" data-target="#modalSubscriptionForm">Bizga Bog'laning</a>

          <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form3" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form3">Your name</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form2">Your email</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-indigo">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </header>
  <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form3" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form3">Your name</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form2">Your email</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-indigo">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center" >
        <div class="col-xl-8">
          <h1>Harvard School O'quv Markazi</h1>
          <h2>Web Saytiga Xush Kelibsiz</h2>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Biz Haqimizda</h2>
          <p>Harvard school o'quv markazi xorijiy tillar va matematika fanlari bo'yicha o'quvchilarni oliy o'quv yurtlariga jumladan mahalliy va xalqaro oliygohlarga tayyorlash maqsadida tashkil etilgan.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              MCHJ "Harvard school" davlat xizmatlari markazi tomonidan 26.11.2019 yilda tasdiqlangan guvohnoma raqami № 784247 ga asosan o'z faoliyatini olib bormoqda. Bugungi kunda yuqorida belgilab o'tilgan fanlar bo'yicha 300 dan ortiq o'quvchi tahsil olib kelmoqda. Hozirgi kunda davlat standartlariga asosan:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ingliz Tili</li>
              <li><i class="ri-check-double-line"></i> Rus Tili</li>
              <li><i class="ri-check-double-line"></i> Matematika</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Fanlaridan oliy toifali va malakali o'qituvchilarimiz tomonidan kerakli bilim va ko'nikmalar berib kelinmoqda. Umumiy ko'rsatkichlar bo'yicha har yili 85% tahsil oluvchilar oliy o'quv yurtlari va ixtisoslashtirilgan maktablarga davlat granti va shartnoma asosida o'qishga qabul qilinmoqda.
            </p>
            <a href="#contact" class="btn-learn-more">Bizga Bog'laning</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <br> <br>
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center text-lg-start">
            <h3>Bizga Bog'laning</h3>
            <p>Аgar inson ilm nuri bilan oʼz yoʼlini yoritmasa, zulmat va nodonlik koʼchasida qoladi. Kishi qalbining nuri ilm va maʼrifat bilan baquvvat boʼladi. Insoniyatning qadri ilm bilan hosil boʼladi. Ilmdan hali hech kim zarar koʼrgan emas. Ilmni egallab olish esa bir sanʼatdir.</p>
          </div>
          <!-- <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" style="background: #CA0016;" href="#">Call To Action</a>
          </div> -->
        </div>

      </div>
    </section><!-- End Cta Section -->
    <br> <br>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Bizning Jamoa</h2>
          <p>Kuchli jamoa bilan uzoqqa boriladi. Biz ham shuni maqsad qilib, kuchli jamoa yig'ishga harakat qildik va buni ustidan chiqyapmiz degan umiddamiz. Jamoa yaxshiligi qayerdan bilinadi, qachonki o'quvchilar biror bir natijaga erishsa shunda yaqqol ko'rinadi. Bizning ham o'quvchilar soni kundan kunga yaxshi natijalarni ko'rsatib kelishmoqda. Markazimiz obro'yi, o'quvchilar soni ortib bormoqda. Biz jamoamiz bilan ta'lim sifatini yaxshilash, yoshlarni dunyo miqyosiga olib chiqishni maqsad qilib qo'yganmiz.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <img src="/static/Site/assets/img/portfolio/Aziz.png" alt="">
              </div>
              <h4><a href="">Sabitov Azizjon</a></h4>
              <p>Burn yourself like a candle, but illuminate darkness!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <img src="/static/Site/assets/img/portfolio/muxtor.jpg" alt="">
              </div>
              <h4><a href="">Ismatov Muxtor</a></h4>
              <p>Dunyoni xohlasang tijorat qil oxiratni xohlasang ibodat qil. Har ikkalasini xohlasang ilm o'rgan.</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <img src="/static/Site/assets/img/portfolio/nazokat.jpg" alt="">
              </div>
              <h4><a href="">Miss Nazokat</a></h4>
              <p>Man can learn nothing except by going from the known to the unknown.</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <img src="/static/Site/assets/img/portfolio/inomjon.jpg" alt="">
              </div>
              <h4><a href="">Rajabov Inomjon</a></h4>
              <p>The more you read, the more things you will know, the more that you learn , the more places you will go..</p>
            </div>
          </div>
          

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <img src="/static/Site/assets/img/portfolio/shafoat.jpg" alt="">
              </div>
              <h4><a href="">Miss Shafoat</a></h4>
              <p>Всегда — учиться, все — знать! Чем больше узнаешь, тем сильнее станешь.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <img src="/static/Site/assets/img/portfolio/doston.png" alt="">
              </div>
              <h4><a href="">Aminov Doston</a></h4>
              <p>Muvaffaqiyat uchun hech qanday sir yo'q. Bu tayyorgarlik, mashaqqatli mehnat va muvaffaqiyatsizlikdan o'rganish natijasidir.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
   <br> <br><br>
    <!-- ======= Cta Section ======= -->
    <section id="cta1" class="cta1">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center text-lg-start">
            <h3>Bizga Bog'laning</h3>
            <p>Аgar inson ilm nuri bilan oʼz yoʼlini yoritmasa, zulmat va nodonlik koʼchasida qoladi. Kishi qalbining nuri ilm va maʼrifat bilan baquvvat boʼladi. Insoniyatning qadri ilm bilan hosil boʼladi. Ilmdan hali hech kim zarar koʼrgan emas. Ilmni egallab olish esa bir sanʼatdir.</p>
          </div>
          <!-- <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" style="background: #CA0016;" href="#">Call To Action</a>
          </div> -->
        </div>

      </div>
    </section><!-- End Cta Section -->
 <br> <br>
    <!-- ======= Features Section ======= -->
    <section id="features" class="features" >
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt" style="color: #CA0016;"></i>
              <h4>Ingliz Tili</h4>
              <p>Learning a new language can be hard work, so here are 70 practical tips for improving your English that you can do outside of school or college</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt" style="color: #CA0016;"></i>
              <h4>Matematika</h4>
              <p>Agar matematika go’zal bo’lmaganda edi, ehtimol matematikaning o’zi ham mavjud bo’lmasdi. Aks holda qanday kuch,   insoniyatning buyuk daholarini bu qiyin fanga torta olardi.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-images" style="color: #CA0016;"></i>
              <h4>Rus Tili</h4>
              <p> Человек достигает высшего уровня речевой культуры, если обладает правильной и связной речью.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-shield" style="color: #CA0016;"></i>
              <h4>Mental Arifmetika</h4>
              <p>Mental arifmetika sanʼat va aql-idrokni rivojlantiradi</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("/static/Site/assets/img/features.jpg");'></div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <br><br>

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>BIZ BILAN BOG'LANING</h3>
          <p>Аgar inson ilm nuri bilan oʼz yoʼlini yoritmasa, zulmat va nodonlik koʼchasida qoladi. Kishi qalbining nuri ilm va maʼrifat bilan baquvvat boʼladi. Insoniyatning qadri ilm bilan hosil boʼladi. Ilmdan hali hech kim zarar koʼrgan emas. Ilmni egallab olish esa bir sanʼatdir.</p>
        </div>

        <div class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Mijozlar</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Proyectlar</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>O'quvchilar</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Xodimlar</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    <br> <br>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Gelereya</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active" style="background-color: #CA0016 ; color: #fff;">Barchasi</li>
              <li data-filter=".filter-app" style="background-color: #CA0016 ; color: #fff;">E'lonlar</li>
              <li data-filter=".filter-card" style="background-color: #CA0016 ; color: #fff;">Dars Jarayoni</li>
              <li data-filter=".filter-web" style="background-color: #CA0016 ; color: #fff;">Tadbirlar</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-1.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-1.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-2.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-3.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-3.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-4.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-4.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-5.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-5.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-6.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-6.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-7.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-7.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-8.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-8.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'Site/assets/img/portfolio/portfolio-9.jpg ' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'Site/assets/img/portfolio/portfolio-9.jpg ' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
    <br><br>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Fanlar Narxi</h2>
          <p>Bizning o'quv markazimizda eng omabom fanlar o'tiladi va hamda eng arzon va qulay narxlarda</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box">
              <span class="recommended-badge">Tavsiya Qilaman</span>
              <h3>Ingliz Tili</h3>
              <h4><sup>sum</sup>300<span> / oyiga</span></h4>
              <ul>
                <li>IELTS</li>
                <li>Grammar</li>
                <li>Prezident maktabiga tay.</li>
                <li>Speaking</li>
                <!-- <li class="na">CEFR</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Bizga Bog'laning</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended">
              <span class="recommended-badge">Tavsiya Qilaman</span>
              <h3>Rus Tili</h3>
              <h4><sup>Sum</sup>300<span> / oyiga</span></h4>
              <ul>
                <li>So'zlashuv</li>
                <li>Grammatika</li>
                <li>Maktabgacha ta'lim</li>
                <li>Rus tili adabiyoti</li>
                <!-- <li class="na">Massa ultricies mi</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Bizga Bog'laning</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <span class="recommended-badge">Tavsiya Qilaman</span>

              <h3>Matematika</h3>
              <h4><sup>sum</sup>300<span> / oyiga</span></h4>
              <ul>
                <li>Prezident maktabiga tay</li>
                <li>Mental arifmetika</li>
                <li>OTM kirish imtihonlariga tay</li>
                <li>Chuqurlashtirilgan Matematika</li>
                <!-- <li>Massa ultricies mi</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Bizga Bog'laning</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
 <br> <br>
 <!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container">

    <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/BritishCouncil.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="https://heartlandenglish.com/wp-content/uploads/2014/09/retina_ajFLG-ziKr6kT6dG1ZS6tF.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="{% static 'Site/assets/img/clients/Bor2.png' %}" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="client-logo">
          <img src="{% static 'Site/assets/img/clients/team.png' %}" class="img-fluid" alt="">
        </div>
      </div>

      

    </div>

  </div>
</section><!-- End Clients Section -->

    <br><br>
    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Savol <strong>Javob</strong></h3>
              
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Bilim nima uchun kerak ? Mr Sabitov Azizjon <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Ma’naviy hayotda ham amaliy hayotdagidek, kimki bilimga tayansagina to‘xtovsiz kamol topadi va yutuqlarga erishaveradi.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Xo'p, Bilimni olgandan keyin erishiladigan birinchi narsa bu? Mr Rajabov Inomjon <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Bilim, faqat bilimgina insonni ozod va ulug‘vor qiladi. <br> Sizni ulug‘likka undaydigan hech bir narsaga e’tiborsiz bo‘lmang.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Hamma ish, hamma narsa va borliq bilimdan iboratmi ? MIss Maftuna <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Bizning ishimiz — o‘qish va o‘qish, imkoni boricha ko‘proq bilimga ega bo‘lish uchun intilishdir, chunki jiddiy ijtimoiy yo‘nalishlar — bilim bor yerda, insoniyatning istiqbol baxti ham faqat bilimdadir.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/static/Site/assets/img/faq.jpg");'>&nbsp;</div>
        </div>

      </div>
    </section><!-- End Faq Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Bizga Bog'laning</h2>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://youtu.be/2NBS7MgYt3k"  allowfullscreen></iframe>
      </div>
      

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line" ></i>
                <h4>Joylashuv:</h4>
                <p>J. Ikromiy 19, 200100, O'zbekiston</p>
              </div>

              <div class="email">
                <i class="ri-mail-line" ></i>
                <h4>Email:</h4>
                <p>harvardschool.uz@gmail.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line" ></i>
                <h4>Call Center:</h4>
                <p>+998(95) 420 76 77</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="f_name" class="form-control" id="name" placeholder="Ism" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="l_name" id="email" placeholder="Familiya" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="phone" id="subject" placeholder="Tel Raqam" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-danger mt-2">Yuborish</button>
                </div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
 
  </main><!-- End #main -->
  <br> <br>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Harvad School</h3>
      <p>Bizga Albatta Bo'glaning.Biz Siz uchun eng qulay variant.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Harvard</span></strong>. Barcha huquqlar himoyalangan
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
       Yaratilgan  <a href="">SobirEdu2022</a> tomonidan
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Site/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'Site/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Site/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Site/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Site/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'Site/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'Site/assets/js/main.js' %}"></script>

</body>

</html>